.glyphicon.glyphicon-bitcoin{
    color: rgb(0,255,127);
}
.glyphicon.glyphicon-usd{
    color: rgb(0,255,127);
}
.glyphicon.glyphicon-credit-card{
    color: rgb(0,255,127);
}
.glyphicon.glyphicon-cd{
    color:plum;
}
.glyphicon.glyphicon-cloud-download{
    color:plum;
}
.glyphicon.glyphicon-record{
    color:orangered;
}
.glyphicon.glyphicon-cloud-upload{
    color:orangered;
}
.glyphicon.glyphicon-headphones{
    color: lightseagreen;
}
.glyphicon.glyphicon-thumbs-up{
        color: lightseagreen
}
.glyphicon.glyphicon-music{
    color:goldenrod;
}
.glyphicon.glyphicon-hourglass{
    color:goldenrod;
}
.glyphicon.glyphicon-user{
    color:hotpink;
}
.glyphicon.glyphicon-volume-up{
    color:hotpink;
}
.glyphicon.glyphicon-log-in{
    color: limegreen;
}
.glyphicon.glyphicon-log-out{
    color:red;
}
.nav.navbar-nav .active a {
    color:hotpink;
}
.nav.navbar-nav .active1 a {
    color: rgb(0,255,127);
}
.nav.navbar-nav .active2 a {
    color:plum;
}
.nav.navbar-nav .active3 a {
    color:orangered;
}
.nav.navbar-nav .active4 a {
    color:lightseagreen;
}
.nav.navbar-nav .active5 a {
    color:goldenrod;
}

.nav.navbar-nav.navbar-right .active6 a{
    color: hotpink;
}
.nav.navbar-nav.navbar-right .active7 a{
    color: green;
}
.nav.navbar-nav.navbar-right .active8 a{
    color: red;
}

h1 {
    color:rgb(135,206,250);

border-radius: 25px;
text-align: center;
}
/* h2 {color:darkblue;
background-color: lightgreen;
border-radius: 25px;
text-align: center;
} */
h3{
    color:rgb(135,206,250);
   
    border-radius: 25px;
    text-align: center;
}
    body{
        background-color: darkslateblue; 
   }
